* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
}

.btn {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background-color: #7fb802;
    border-color: #7fb802;
}

header {
    background-color: #0D325A;
    height: 500px;
}

.header-top {
    height: 100px;
}

.header-bottom {
    background-image: url('business.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.logo-container {
    width: 15%;
    float: left;
}

#logo {
    padding-top: calc((100px - 38px) / 2);
}

.menu-container {
    width: 50%;
    float: left;
}

#main-menu {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
}

#main-menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
}

#main-menu li a:hover {
    color: #f8b71c;
}

.cta-container {
    width: 35%;
    float: left;
    height: 100%;
    text-align: right;
}

.cta-container a {
    margin-left: 6px;
}

.cta-container a.link {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    line-height: 100px;
}

#jumbo-wrapper {
    height: 400px;
    position: relative;
}

#jumbo-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#jumbo-content h1 {
    color: white;
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 40px;
}

.grey-block {
    background-color: #f9f9f9;
    width: 1300px;
    margin: auto;
}

.grey-block-wrap{
    background-color: #f9f9f9;
    height: 155px;
    text-align: center;
    padding: 40px;
}

.title {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.7);
}

.test {
    font-size: 18px;
    color: #999;
    margin-top: 10px;
}

.list-box-wrap {
    background-color: white;
    height: 521px;
    padding: 8px;
}

.list-box {
    background-color: white;
    height: 505px;
    width: 1300px;
    margin: auto;
}

.list-box {
    content: "";
    display: table;
    clear: both;
}

.box {
    background-color: white;
    height: 465px;
    width: 433px;
    float: left;
    margin-top: 20px;
}

.mini-box {
    height: 232.2px;
    background-color: white;
    text-align: center;
    position: relative;
    padding: 10px;
}

.mini-box p.title {
    color: #7fb802;
    font-weight: bold;
    padding-bottom: 20px;
    height: 78px;
}

.mini-box p.test {
    font-size: 15px;
    margin-top: 20px;
    line-height: 30px;
}

.mini-box hr {
    opacity: .3;
    width: 32px;
    border-top: 2px solid;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.mini-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
